body
{
    background-color: blue;
}
.product-item{

    background-color: gold;
    color: #ff0000;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    box-shadow: -24px -14px 262px 90px rgba(255,242,0,1);}

.ggg{
    border-radius: 20px;
}